@media screen and (min-width: 640px) {
    .flex-container {
        display: flex;
    }
}

.wrapper {
    margin: auto;
    max-width: 75rem;
}

main, header, section, aside, footer {
    margin: 0;
    padding: 0px;
    border: 1px solid white;
    color: black;
    font-family: 'Raleway', serif;
}

main {
    background-color: white;
}

.header {
    background-color: blue;
}

.hero {
    background-color: white;
    margin-bottom: 50px;
}

.content {
    background-color: white;
    flex: 1;
    color: black;
    
}

.sidebar {
    /* border: 1px solid #c0bfbf; */
    background-color: white;
    flex: 0 1 300px;
    margin-left: 20px;

}

.sidebar h2 {
    margin-left: 20px;
    margin-bottom: none;
}

.sidebar-content {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    /* background-color: lightgray; */
    /* border: #000000 1px solid; */
}

.footer {
    border: 1px solid #000000;
    background-color: white
}

/* Navigation bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent !important;
    opacity: 70%;  
}

li {
    float: left;
}

li a {
    display: block;
    color: bisque;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: rgb(82, 82, 82);
}

li a:hover {
    background-color: bisque;
}

/* Logo image */
/* .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
} */

/* Hero section */

.hero {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-image: url("DSC01316.JPG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 5em;
    font-family: 'Rubik', 'serif';
    color: bisque;
    opacity: 80%;

    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h2 {
    color: lightgoldenrodyellow;
    opacity: 90%;
}

/* Hero Button */
.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .button a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }

  #button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-5 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
  }
  
  #button-5:hover #translate {
    left: 0;
  }
  
  #button-5:hover a {
    color: #2D3142;
    border-width: 1px;
  }

/* Button 2 - Secondary */

.button2 {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid black;
    margin: 20px 20px 20px 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .button2 a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
  }

  #button-52 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-52 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
  }
  
  #button-52:hover #translate {
    left: 0;
  }
  
  #button-52:hover a {
    color: #2D3142;
    border-width: 1px;
  }

  /* Basic elements */

  p {
      justify-content: center;
      margin-left: 20px;
      margin-right: 20px;
      line-height: 30px;
      letter-spacing: 1px;
   
  }

  h2 {
      font-family: 'Rubik';
  }
  

  /* Main content */

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 5vw 0 5vw;
}

.main-content section {
    min-width: 70%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
    }

.main-content aside {
    min-width: 25%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
    }    

/*Card list  */

.card-list {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 
    minmax(300px , 1fr));
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
    }
        
.card {
    display: grid;
    grid-template-columns:	1fr;
    border-style: none;
    background-color: white;
    
}




.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }
    
.card-details a {
    align-self: flex-start;
}

.pcard {
    color: black;
}

.cardbutton {
    
    background-color: white;
    opacity: 80%;
    align-items: center;
    border-style: none;
    background-color: transparent;
    color: black;
}

/* Card animation */

.box {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
  
  .box:hover::after {
      opacity: 1;
  }

  /* Contact form */

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Raleway', serif;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: lightgray;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Raleway', serif;
    opacity: 90%;
  }
  

  input[type=submit]:hover {
    
    font-family: 'Raleway', serif;
    opacity: 70%;
  }
  

  .containerform {
    border-radius: 2px;
    background-color: white;
    padding: 20px;
    padding-bottom: 100px;
  }

  /* Bootstrap template footer */

  .site-footer
{
  background-color: bisque;
  opacity: 70%;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;
  padding-left: 20px;
  padding-right: 20px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: black;
}
.site-footer a:hover
{
  color:darkgray;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:darkgray;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
    
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:pink;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:black;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


